In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,text

### Connect to SQLite Database (without Auth)

In [27]:
engine = create_engine('sqlite:///data/Example.db', echo=False)

In [28]:
query = """SELECT name FROM sqlite_master WHERE type='table'"""
df = pd.read_sql(query,con=engine)
df

           name
0     Customers
1        Orders
2    OrderItems
3  random-users

### Connect to SQL Server Database (with Auth)

In [ ]:
#Connect with Username and Password Authentication
server = 'XXXX' #ToDO: Replace with you Servername
database = 'Employees'
username = 'Pluralsight'
password = 'Password'
driver = "ODBC Driver 17 for SQL Server"  # Ensure this driver is installed

conn_str = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver.replace(' ', '+')}"
engine = create_engine(conn_str)

# Test the connection
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT GETDATE()"))  # Simple test query
        print("Connection successful!")
        print("Current Date:", result.scalar())
except Exception as e:
    print("Error:", e)

Connection successful!
Current Date: 2025-03-14 01:58:15.640000

In [30]:
query = "SELECT * FROM DBO.EXAMPLE;"
df = pd.read_sql(query,con=engine)
df

   Id                    Text
0   1  Connection Successful!

### Connect to SQL Server Database (with Trusted Auth)

In [31]:
from sqlalchemy import create_engine, text

# Create the connection string for Windows Authentication (Trusted Connection)
conn_str = f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver={driver.replace(' ', '+')}"

# Create the SQLAlchemy engine
engine = create_engine(conn_str)

# Test the connection
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT GETDATE()"))  # Simple test query
        print("Connection successful (Trusted Auth)! Current Date:", result.scalar())
except Exception as e:
    print("Error:", e)

Connection successful (Trusted Auth)! Current Date: 2025-03-14 01:59:11.220000